@media (min-width:1025px) {
    header section img#m-nav { display:none; }
}

@media (min-width:768px) and (max-width:1023px) {
}

@media (min-width:320px) and (max-width:1024px) {
    html { font-size:14px; }
    .box-width { max-width:100%; margin:0; }
    #top-btn { display:none; }
    button.buy-btn { width:120px; font-weight:300; font-size:1.2rem; }
    div.fp-tableCell { vertical-align:top; }
    
    header { padding:0; }
    header section { width:100%; padding:0; }
    header section img#logo { width:auto; height:15px; float:left; margin:15px 20px; }
    header section img#m-nav { float:right; width:auto; height:17px; margin:14px 20px; }
    header section nav { display:none; width:100%; padding:21px 0 20px 0; float:none; z-index:-1; position:absolute; top:44px; left:0; transition:all 100ms ease-in-out; -webkit-transition:all 100ms ease-in-out; -moz-transition:all 100ms ease-in-out; -o-transition:all 100ms ease-in-out; }
    header section nav li { float:none; text-align:center; width:100%; margin:0; }
    header section nav li a { font-size:1.5rem; }
    
    #pickit-page { padding-top:45px; }
    
    #section0 #mobile-image { display:block; width:100%; }
    #myVideo { display:none; }
    #myVideo iframe { display:none; }
    .float-text { position:static; padding:30px 0; text-align:center; width:100%; color:#000; }
    .float-text h1 { text-shadow:none; margin-bottom:5px; font-size:3.2rem; }
    .float-text h2 { margin-bottom:20px; }
    .float-text p { font-weight:300; font-size:1.15rem; }
    .float-text button.buy-btn { background:#fff; color:#000; border-color:#000; }
    
    
    #section1 { padding-top:70px; }
    #section1, #section2 { background:none; }
    #section1 section, #section2 section, #section3 section { padding:0; text-align:center; }
    #section1 section h3:before { content:""; width:100%; height:330px; background-image:url("../images/m-section1.jpg"); background-position:top center; background-repeat:no-repeat; background-size:100%; display:block; }
    #section1 section h3, #section2 section h3, #section3 section div h3,
    #section4 section h3 { width:100%; letter-spacing:-1px; font-size:2.45rem; }
    #section1 section p, #section2 section p, #section3 section div p { text-align:center; margin:10px 0 20px 0; font-weight:300; font-size:1.15rem; letter-spacing:-1px; }
    
    #section2 section h3:before { content:""; width:100%; height:300px; background-image:url("../images/m-section2.jpg"); background-position:top center; background-repeat:no-repeat; background-size:100%; display:block; }
    #section2 section ul { display:none; }
    #section2 section button { margin:0; }
    
    #section3 .slider { position:static; text-align:center; width:240px; margin:40px auto 0 auto; }
    #section3 .slider img { max-width:100%; width:240px; }
    #section3 section div ul { float:none; width:100%; padding:0 20%; }
    #section3 section div ul li { float:left; width:22.5%; margin:0 3% 0 0; }
    #section3 section div ul li img { width:100%; height:auto; }
    #section3 section div ul li:last-child { margin-right:0; }
    #section3 div#btn-wrap { width:100%; margin-bottom:30px; }
    #section3 div#btn-wrap button:first-child { margin-left:0; }
    #section3 button.slick-prev,
    #section3 button.slick-next { top:30%; }
    
    #section4 { margin-top:55px; }
    #section4 .slider { position:static; text-align:center; width:80%; margin:0 auto; }
    #section4 .slider img { width:100%; }
    #section4 .slider .slick-slide { width:240px; }
    #section4 section h3 { margin-top:50px; letter-spacing:-1px; }
    #section4 section h4 { margin:10px 0 20px 0; font-size:1.15rem; }
    #section4 section h4 span { font-size:1.5rem; vertical-align:top; }
    #section4 .slider h5 { font-size:2.25rem; text-align:center; letter-spacing:-1px; margin:30px 0 10px 0 !important; }
    #section4 .slider p { text-align:center; }
    #section4 button.slick-prev,
    #section4 button.slick-next { top:60%; }
    
    #section5 h3 { margin-top:70px; font-size:2.45rem; }
    #section5 h4 { font-size:1.5rem; }
    #section5 iframe#youtube-video { width:100% !important; height:auto !important; margin:30px 0; }
    #section5 div.fb-commnets.fb_iframe_widget { display:block !important; width:100% !important; height:auto !important; margin:20px 0; }

    #section6 { background:none; text-align:center; }
    #section6 section.box-width { padding:0; }
    #section6 h3 { margin:70px 0 35px 0; font-size:2.45rem; }
    #section6 table { width:90%; margin:0 auto; }
    #section6 table tr th,
    #section6 table tr td { padding:3px 0; font-size:1.2rem; text-align:left; }
    #section6 table tr th { width:35%; }
    #section6 table tr td { width:65%; }
    #section6 button.buy-btn { float:none; margin:30px 0; }
    
    footer { font-size:1.2rem; padding:23px 5.3%; }
    
    button.slick-prev,
    button.slick-next { width:30px; height:30px; background-size:100%; }
    button.slick-prev { left:15px !important; }
    button.slick-next { right:15px !important; }
    ul.slick-dots { margin-top:10px; }
    
}

@media (max-width:320px) {
    html { font-size:12px; }    
}